.image-card {
    position: relative;

    .image-card-info {
        display: none;
    }
    &:hover {
        .image-card-info {
            // position: absolute;
            display: block;
        }
    }

}