<div class="image-info-top-container">
    <a [routerLink]="['/']">Home</a>
    <div class="image-info-img" [style.backgroundImage]="'url(' + image.imageUrl + ')'"></div>
    <div>
        <ul class="image-info-list">
            <li><span>{{ image.title }}</span></li>
            <li class="image-info-rank"><i class="fas fa-heart"></i><span>{{image.likes}}</span></li>
            <li class="image-info-rank"><i class="fas fa-bookmark"></i><span>{{image.references}}</span></li>
        </ul>
    </div>
</div>
<div class="image-info-bottom-container">
    <div class="image-info-bottom">
        <h2>{{image.owner.userName}}</h2>
        <p>{{image.description}}</p>
    </div>
</div>