/* You can add global styles to this file, and also import other style files */
@import './app/app.component.scss';
@import './app/image-list/image-list.component.scss';
@import './app/image-info/image-info.component.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
    font-size: 10px;
    display: grid;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
}

